@use "node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "orange",
    $enable-responsive-spacings: true,
);

#message-board {
    margin-top: var(--pico-spacing);

    #messages-overview {
        height: 60vh;
        overflow: scroll;
    }
}

.message {
    margin-bottom: var(--pico-spacing);
}
