@use "node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "orange",
    $enable-responsive-spacings: true,
);

#messages-overview {
    height: 80vh;
    overflow: scroll;
}

.message {
    margin-bottom: var(--pico-spacing);
    width: 40%;

    small {
        float: right;
    }
}

.owned-message {
    margin-left: 60%;
}
